NME2_Manager2/NME2_Server_Manager/Web References/Nme2WsAdmin/ws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://hfs-wgbw.is-a-chef.com/soap/Nme2Ws" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://hfs-wgbw.is-a-chef.com/soap/Nme2Ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://hfs-wgbw.is-a-chef.com/soap/Nme2Ws">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="Mission">
        <xsd:all>
          <xsd:element name="Id" type="xsd:int" />
          <xsd:element name="Name" type="xsd:string" />
          <xsd:element name="Version" type="xsd:string" />
          <xsd:element name="CenterLat" type="xsd:double" />
          <xsd:element name="CenterLon" type="xsd:double" />
          <xsd:element name="MissionRange" type="xsd:int" />
          <xsd:element name="Active" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Missions">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:Mission[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="SimObject">
        <xsd:all>
          <xsd:element name="Id" type="xsd:int" />
          <xsd:element name="Name" type="xsd:string" />
          <xsd:element name="SimName" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SimObjects">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:SimObject[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="MissionObject">
        <xsd:all>
          <xsd:element name="Id" type="xsd:int" />
          <xsd:element name="Mission_Id" type="xsd:int" />
          <xsd:element name="Mission" type="tns:Mission" />
          <xsd:element name="SimObject_Id" type="xsd:int" />
          <xsd:element name="Simobject" type="tns:SimObject" />
          <xsd:element name="Lat" type="xsd:double" />
          <xsd:element name="Lon" type="xsd:double" />
          <xsd:element name="Altitude" type="xsd:float" />
          <xsd:element name="OnGround" type="xsd:int" />
          <xsd:element name="Pitch" type="xsd:double" />
          <xsd:element name="Yaw" type="xsd:double" />
          <xsd:element name="Bank" type="xsd:double" />
          <xsd:element name="Heading" type="xsd:int" />
          <xsd:element name="Active" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="MissionObjects">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:MissionObject[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SecService.CheckAuthRequest">
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="pwd" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="SecService.CheckAuthResponse">
    <wsdl:part name="return" type="xsd:integer" />
  </wsdl:message>
  <wsdl:message name="AdminMissionService.SaveArrayMissionRequest">
    <wsdl:part name="mission" type="tns:Mission" />
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="pwd" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="AdminMissionService.SaveArrayMissionResponse">
    <wsdl:part name="return" type="tns:Mission" />
  </wsdl:message>
  <wsdl:message name="AdminMissionService.DeleteArrayMissionRequest">
    <wsdl:part name="mission" type="tns:Mission" />
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="pwd" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="AdminMissionService.DeleteArrayMissionResponse" />
  <wsdl:message name="AdminMissionObjectService.SaveArrayMissionObjectRequest">
    <wsdl:part name="missionObject" type="tns:MissionObject" />
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="pwd" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="AdminMissionObjectService.SaveArrayMissionObjectResponse">
    <wsdl:part name="return" type="tns:Mission" />
  </wsdl:message>
  <wsdl:message name="AdminMissionObjectService.DeleteArrayMissionObjectRequest">
    <wsdl:part name="missionObject" type="tns:MissionObject" />
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="pwd" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="AdminMissionObjectService.DeleteArrayMissionObjectResponse" />
  <wsdl:portType name="Nme2WsPortType">
    <wsdl:operation name="SecService.CheckAuth">
      <documentation>Prüft Authorisierung.</documentation>
      <wsdl:input message="tns:SecService.CheckAuthRequest" />
      <wsdl:output message="tns:SecService.CheckAuthResponse" />
    </wsdl:operation>
    <wsdl:operation name="AdminMissionService.SaveArrayMission">
      <documentation>Speichert eine Mission.</documentation>
      <wsdl:input message="tns:AdminMissionService.SaveArrayMissionRequest" />
      <wsdl:output message="tns:AdminMissionService.SaveArrayMissionResponse" />
    </wsdl:operation>
    <wsdl:operation name="AdminMissionService.DeleteArrayMission">
      <documentation>Löscht eine Mission.</documentation>
      <wsdl:input message="tns:AdminMissionService.DeleteArrayMissionRequest" />
      <wsdl:output message="tns:AdminMissionService.DeleteArrayMissionResponse" />
    </wsdl:operation>
    <wsdl:operation name="AdminMissionObjectService.SaveArrayMissionObject">
      <documentation>Speichert ein Mission Object.</documentation>
      <wsdl:input message="tns:AdminMissionObjectService.SaveArrayMissionObjectRequest" />
      <wsdl:output message="tns:AdminMissionObjectService.SaveArrayMissionObjectResponse" />
    </wsdl:operation>
    <wsdl:operation name="AdminMissionObjectService.DeleteArrayMissionObject">
      <documentation>Löscht ein Mission Object.</documentation>
      <wsdl:input message="tns:AdminMissionObjectService.DeleteArrayMissionObjectRequest" />
      <wsdl:output message="tns:AdminMissionObjectService.DeleteArrayMissionObjectResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Nme2WsBinding" type="tns:Nme2WsPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="SecService.CheckAuth">
      <soap:operation soapAction="urn:nme2#checkauth" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:nme2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:nme2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminMissionService.SaveArrayMission">
      <soap:operation soapAction="urn:nme2#savearraymission" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:nme2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:nme2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminMissionService.DeleteArrayMission">
      <soap:operation soapAction="urn:nme2#deletearraymission" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:nme2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:nme2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminMissionObjectService.SaveArrayMissionObject">
      <soap:operation soapAction="urn:nme2#savearraymissionobject" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:nme2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:nme2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminMissionObjectService.DeleteArrayMissionObject">
      <soap:operation soapAction="urn:nme2#deletearraymissionobject" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:nme2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:nme2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Nme2Ws">
    <wsdl:port name="Nme2WsPort" binding="tns:Nme2WsBinding">
      <soap:address location="http://hfs-wgbw.is-a-chef.com/priv_nme2/Admin/ws.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>